<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
      <a class="navbar-brand text-success fw-bold" href="#">Discount</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-success" routerLink="/home">Home </a>
      </li>
        <li class="nav-item">
            <a class="nav-link text-success" routerLink="/Smartphones">Smartphones </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" routerLink="/ForfaitsMobiles">Forfaits Mobiles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success" routerLink="/ServicesInternet">Services Internet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" routerLink="/dashboard"> ProductAdmin</a>
      </li>
      </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          
          
            <li class="nav-item">
              <a class="nav-link text-success" routerLink="/profile">Profile</a>
            </li>
           
       
        </ul>
      </div> 
    </nav>
</div>
  
