<div class="wrapper">
    <!-- Sidebar (Dashboard) -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2>Dashboard</h2>
        </div><br>
        <ul class="sidebar-menu">
            <li><a routerLink="/dashboard/productadmin" routerLinkActive="active">📦 Products</a></li>
            <li><a routerLink="/dashboard/DiscountDefAdmin" routerLinkActive="active">💸 Discount-Def</a></li>
            <li><a routerLink="/dashboard/LinkDiscProd" routerLinkActive="active">🔗 Link-disc-Prod</a></li>
            <li><a routerLink="/dashboard/Holidays" routerLinkActive="active">📅 Holidays</a></li>
            <li><a routerLink="/dashboard/trace/:idproduct" routerLinkActive="active">📈 Tracage</a></li>
            <li><a routerLink="/dashboard/couponTracage" routerLinkActive="active">🏷️ COUPONTracage</a></li>
            <li><a routerLink="/dashboard/couponStatistic" routerLinkActive="active">📊 COUPON-Statistic</a></li>
            <li><a routerLink="/dashboard/TracageStatistic" routerLinkActive="active">📋 Tracage-Statistic</a></li>
             
            
        </ul>
        
    </aside>

    <!-- Contenu principal -->
    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>
